/* Reset all elements to have certain behaviour */
* {
    box-sizing: border-box;
}

body {
    background: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: rgba(0,00,0, 0.5);
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.main-header { 
    width: 100%;
    position: sticky;
    top: 0;
    background: #0000FF;
    color: #fff;
    padding: 0.5rem 1rem;
    z-index: 99999;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand {
    color: #ffff28;
    font-size: 1.375rem;
    font-weight: 700;
    text-decoration: none;
    /* If its inline then percentages on img wont have effect */
    display: inline-block; 
    height: 1.375rem
}

.main-header img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 75px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.625rem 0;
}
.main-nav__item a:hover,
.main-nav__item a:active {
  color: #ffff28;
  cursor: pointer;
  border-bottom: 3px solid #ffff28;
}

.cta a { 
    background-color: #35AAff;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.cta a:hover,
.cta a:active {
   color: #0000FF;
   background-color: #ffff28;
   border: none;
}

.main-footer {
    background: #000000;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer_links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer_link {
    display: inline-block;
    margin: 0 11rem;
}
.main-footer_link a {
    color: #ffffff;
    text-decoration: none;
}

.main-footer_link a:hover,
.main-footer_link a:active {
    color: #ffff28;
}

.button {
    background: #35AAff;
    color: #ffffff;
    font: inherit;
    border: none;
    border-radius: 0.625rem;
    padding: 0.625rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #ffff28;
    color: #35AAff;
}

.plan_highlighted .button:hover,
.plan_highlighted .button:active {
    background: #ffff28;
    color: #CD21FF;
}

.button:focus {
    outline: none;
}